@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#app-title {
  font-family: "Bangers", cursive;
  font-size: 2.5em;
  color: #0284c7;
  letter-spacing: 2px;
}
