* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(211, 211, 211);
  /* Keeps the chat app in the middle  */
  display: flex;
  justify-content: center;
  align-items: center;
}
